*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ea6363;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
h1{
    margin-top: 70px;
    text-align: center;
    font-size: 150px;
     font-weight:700;
     color: white;
}

p{
    margin-top: 80px;
    text-align: center;
     font-size: 35px;
     font-weight: 600;
     color: white;
}
img{
    margin: 40px;
    width: 5rem;
    height: 4rem;
}